.movies{
  /* border:2px solid white; */
  
}

.poster {
  /* object-fit: contain; */

  cursor:pointer;
    transition: transform ease-in-out 0.3s;
    margin:8px;
    position:relative;
    overflow: hidden;
    width:100%;
   
}

.poster:hover {
  transform: scale(1.06);
  
}
.poster:hover .movie_over{
  transform: translateY(70%) translateX(1%) scale(0.96);
 background-color: rgba(255, 255, 255, 0.74);
}
.movie_over{
  position:absolute;
  bottom:0;
  left:0;
  right:0;
  top:0;
  background-color: white;
  color:black;
 

  transform: translateY(100%) translateX(0%) scale(0.7);
  transition: 0.5s;
  
}
