

.play{
  color:rgba(250, 250, 250, 0.767);
  position:absolute;
  left:45%;
  top:45%;
  transform: translate(50%,-50%);
cursor: pointer;
  
}
.hide{
  display: none !important;
 
}
.imageOrTrailer{
  position:relative
}

.nav_logoLeft {
  position: fixed;
  top:30px;
  left: 80px;
  width: 80px;
  object-fit: contain;
  z-index: 111;
}

