

.play{
  color:rgba(250, 250, 250, 0.767);
  position:absolute;
  left:45%;
  top:45%;
  transform: translate(50%,-50%);
cursor: pointer;
  
}
.hide{
  display: none !important;
 
}
.imageOrTrailer{
  position:relative
}
